.container {
  margin: auto;
  max-width: 900px;

  text-align: center;
}

body {
  font-family: roboto;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.item-done {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.279);
}
